* {
		margin: 0;
		padding: 0;
		
	}

	li {
		list-style: none;
		color: black;
	}

	.main-mw {
		text-align: center;
		margin: 0 auto;
	}

	/* 头部 */
	.bg_01 {

		height: 500px;
		background-image:url(../images/about.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	.head_text {
		color: white;
		text-align: center;
	}

	.social-links {
		margin-left: 5px;

		margin: 70px auto;

	}

	.social-links a {
		display: block;
		float: left;
		width: 50px;
		height: 50px;
		color: red;
		text-decoration: none;
		font-size: 30px;
		margin-left: 10px;
		transition: all 1s ease-in;

	}

	.social-links a:hover {
		color: brown;
		transform: scale(2);
	}

	.head_text h1 {
		font-size: 70px;
		font-weight: 20px;
		letter-spacing: 3px;

	}

	.head_text h1 .toupper {
		color: brown;
	}

	/* 主题内容 */
	.content {

		background-color: #fafafa;
		margin: 0 auto;
		position: relative;
		top: -90px;
		box-shadow: #495057 0 0 10px;

	}

	/* 中显示导航 */
	.nav {
		font-size: 20px;
		height: 80px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;


	}

	.nav .ul_01 {
	font-size: 20px;
		margin-top: 20px;
		border-bottom: 2px gainsboro solid;
		padding-bottom: 10px;

	}

	.nav .ul_01 li {
		float: left;
		padding: 15px;
		font-size: 20px;
		font-weight: bold;
	}

	.nav .ul_01 li a {
			font-size: 30px;
		display: block;
		color: #000000;
		line-height: 50px;
		height: 50px;
		text-decoration: none;
	}

	.nav .ul_01 li a:hover {
		background-color: brown;
	}

	/* 小显示导航 */
	.navsm {
		text-align: center;
		border-bottom: 1px gainsboro solid;
		padding-bottom: 40px;
	}

	.navsm a {
		display: block;
		font-size: 50px;
		padding-top: 20px;
		color: black;
		text-decoration: none;
	}

	.navsm a:hover {
		color: brown;
	}

	#navsm_02 {
		display: none;
	}

	#navsm_02 a {
		text-align: center;
		display: block;
		height: 50px;
		color: black;
		font-size: 20px;
		font-weight: bold;
		line-height: 50px;
		margin: 0 10px;
	}

	#navsm_02 a {
		color: black;
	}

	#navsm_02 a:hover {
		background-color: brown;
		color: white;
		text-decoration: none;
	}

	/* 主体内容02 */
	.se {
		display: block;
		width: 100%;
		text-align: center;

	}

	.img img {
		box-shadow: grey 1px 5px 10px;
		margin: 20px auto;
	}

	.text_p {
		text-align: center;
		color: gray;
		font-size: 20px;
		margin: 10px auto;
		text-indent: 20px;

	}

	.text_p:hover,
	h2:hover {
		color: brown;
	}

	.te_02 {
		letter-spacing: 3px;
		padding: 0 65px;
		margin: 10px auto;
	}

	.jh {
		box-shadow: #000000 0 0 10px;
		text-align: center;
		margin: 0 auto;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		z-index: 100;
		background-color: red;
		font-size: 50px;
		color: white;
		font-weight: bolder;
		transition: all ease-in 1s;


	}

	.jh:hover {
		transform: rotate(360deg);

	}

	/* 	尾页 */
	.footer {
		display: block;
		background-color: #263238;
		padding-bottom: 20px;
		width: 100%;
		color: white;
	}

	.text_footer {
		letter-spacing: 5px;
		padding-top: 10px;
		padding-bottom: 20px;
		text-align: left;
		border-bottom: #D5D5D5 1px solid;


	}

	.text_footer h2 {
		padding-left: 5px;
		font-weight: 500;
		font-size: 50px;
		border-left: #D5D5D5 5px solid;
	}

	.toupper_02 {
		color: brown;
	}

	.ema_01 {
		height: 40px;
		margin-bottom: 5px;
	}

	.bt_01 {

		margin-top: 5px;
	}

	.about {
		padding: 20px;
		text-align: left;
	}

	.xiong {
		padding: 5px;
		color: brown;
	}




	.se .move {
		animation: move 1s;
	}

	@keyframes move {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	/* new */

	.new-more:hover {
		color: brown;
		text-decoration: none;
	}

	tbody td:nth-child(3) {
		color: grey;
	}

	thead th {
		color: brown;
		font-size: 20px;
		font-weight: bolder;
	}
	.new-more{
		font-size: 40px;
		 font-weight: bolder;
		 color: #000000;
	}

	/* about */
	.about-content {
		column-count: 4;
		column-gap: 20px;
		column-rule: 4px outset #ff0000;
		padding: 40px;
		letter-spacing: 2px;
		line-height: 30px;
	}
