body {
	background-image: linear-gradient(to top, #060d1d 0%, #1b3b64 100%);
	font-family: 'Microsoft YaHei', 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', sans-serif;
	margin: 0;
	height: 100vh;
}
body {
    background-color: #fff;
    animation: change-background 3s linear infinite;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 50%) scale(1.5, 1.5);
}

.floor {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 13px;
    background-color: #673c63;
    box-shadow: 0px 2px 5px #111;
    z-index: 2;
}

.candles {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 150px;
    transform: translate(-50%, -100%);
    /* border: 1px red solid; */
}

.candles .candle1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35px;
    height: 100px;
    background-color: #fff;
    border: 3px solid #5c3a5b;
    border-bottom: 0px;
    border-radius: 3px;
    transform-origin: center right;
    transform: translate(60%, -25%);
    box-shadow: -2px 0 0 #95c6f2 inset;
    animation: expand-body 3s infinite linear;
}

.candle1_stick,
.candle2_stick {
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 15px;
    background-color: #5c3a5b;
    border: 8px;
    transform: translate(-50%, -100%);
}

.candle2_stick {
    height: 12px;
    transform-origin: bottom;
    animation: stick-animation 3s infinite linear;
}

.candle1_eyes,
.candle2_eyes {
    position: absolute;
    left: 50%;
    top: 0;
    width: 35px;
    height: 30px;
    transform: translate(-50%, 0);
}

.candle1_eye_left {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #673c63;
    transform: translate(-70%, 0);
    animation: blink-eye 3s infinite linear;
}

.candle1_eye_right {
    position: absolute;
    left: 70%;
    top: 20%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #673c63;
    transform: translate(-70%, 0);
    animation: blink-eye 3s infinite linear;
}

.candle1_mouth {
    position: absolute;
    left: 40%;
    top: 20%;
    widht: 0;
    height: 0;
    border-radius: 20px;
    background-color: #673c63;
    transform: translate(-50%, 50%);
    animation: uff 3s infinite linear;
}

.candle_smoke1 {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 30px;
    height: 3px;
    /* border-radius: 20px; */
    background-color: grey;
    transform: translate(-50%, -50%);
    animation: move-left 3s infinite linear;
}

.candle_somke2 {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 10px;
    height: 10px;
    /* border-radius: 20px; */
    background-color: grey;
    transform: translate(-50%, -50%);
    animation: move-top 3s infinite linear;
}

.candle2 {
    position: absolute;
    left: 20%;
    top: 65%;
    width: 42px;
    height: 60px;
    background-color: #fff;
    border: 3px solid #5c3a5b;
    border-bottom: 0px;
    border-radius: 3px;
    transform-origin: center right;
    transform: translate(60%, -15%);
    box-shadow: -2px 0 0 #95c6f2 inset;
    animation: shake-left 3s infinite linear;
}

.candle2_eye_left {
    position: absolute;
    display: inline-block;
    left: 30%;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #673c63;
    transform: translate(-70%, 0);
    float: left;
    animation: changeto-greater 3s infinite linear;
}

.candle2_eye_right {
    position: absolute;
    display: inline-block;
    left: 70%;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #673c63;
    transform: translate(-70%, 0);
}

.light_wave {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    transform: translate(-25%, -50%) scale(2.5, 2.5);
    border: 2px solid rgba(255, 255, 255, .2);
    animation: expand-light 3s infinite linear;
}

.candle2_fire {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 16px;
    height: 20px;
    display: block;
    background-color: #ff9800;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: translate(-50%, -50%);
    animation: fire-dance 3s infinite linear;
}

@keyframes blink-eye {

    0%,
    35% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }

    35%,
    39% {
        opacity: 0;
        transform: translate(-70%, 0%);
    }

    40% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }

    50%,
    65% {
        transform: translate(-140%, 0%);
    }

    66% {
        transform: translate(-70%, 0%);
    }
}

@keyframes expand-body {

    0%,
    40% {
        transform: translate(60%, -25%) scale(1, 1);
    }

    45%,
    55% {
        transform: translate(60%, -25%) scale(1.1, 1.1);
    }

    60% {
        transform: translate(60%, -25%) scale(0.89, 0.89);
    }

    65% {
        transform: translate(60%, -25%) scale(1, 1);
    }

    75% {
        transform: translate(60%, -25%) scale(1, 1);
    }
}

@keyframes uff {

    0%,
    40% {
        width: 0;
        height: 0;
    }

    50%,
    54% {
        width: 15px;
        height: 15px;
        left: 30%;
    }

    59% {
        width: 5px;
        height: 5px;
        left: 20%;
    }

    62% {
        width: 2px;
        height: 2px;
        left: 20%;
    }

    67% {
        width: 0px;
        height: 0px;
        left: 30%;
    }
}

@keyframes change-background {

    0%,
    59%,
    98%,
    100% {
        background-color: #fff;
    }

    61%,
    97% {
        background-color: #000;
    }
}

@keyframes move-left {

    0%,
    59%,
    100% {
        width: 0px;
        left: 40%;
    }

    60% {
        width: 30px;
        left: 30%;
    }

    68% {
        width: 0px;
        left: 20%;
    }
}

@keyframes move-top {

    0%,
    64%,
    100% {
        width: 0px;
        height: 0px;
        top: 0%;
    }

    65% {
        width: 10px;
        height: 10px;
        left: 40%;
        top: 40%;
    }

    80% {
        width: 0px;
        height: 0px;
        top: 20%;
    }
}

@keyframes shake-left {

    0%,
    40% {
        left: 20%;
    }

    50%,
    54% {
        left: 20%;
        transform: translate(60%, -15%);
    }

    59% {
        left: 20%;
        transform: translate(60%, -15%);
    }

    62% {
        left: 18%;
        transform: translate(60%, -15%);
    }

    67% {
        left: 20%;
        transform: translate(60%, -15%);
    }

    75% {
        left: 20%;
        transform: translate(60%, -15%) scale(1.15, 0.85);
        /* background: #fff; */
        /* background-color: #673c63; */

    }

    91% {
        left: 20%;
        transform: translate(60%, -15%) scale(1.18, 0.82);
        background: #f44336;
        background-color: #f44336;
        box-shadow: -2px 0px 0px #f44336 inset;
    }

    95% {
        left: 20%;
        transform: translate(60%, -15%) scale(1.05, 0.95);
    }

    97% {
        left: 20%;
        transform: translate(60%, -15%) scale(1, 1);
    }
}

@keyframes stick-animation {

    0%,
    40% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    50%,
    54% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    59% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    62% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%) rotateZ(-15deg);
    }

    65% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%) rotateZ(15deg);
    }

    70% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%) rotateZ(-5deg);
    }

    72% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%) rotateZ(5deg);
    }

    74%,
    84% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%) rotateZ(0deg);
    }

    85% {
        transform: translate(0%, 200%) rotateZ(180deg);
        /* background-color: #f44336; */
    }

    92% {
        transform: translate(-50%, -100%);
    }
}

@keyframes expand-light {

    10%,
    29%,
    59%,
    89% {
        transform: translate(-25%, -50%) scale(0, 0);
        border: 2px solid rgba(255, 255, 255, 0)
    }

    90%,
    20%,
    50% {
        transform: translate(-25%, -50%) scale(1, 1);
    }

    95%,
    96%,
    26%,
    27%,
    56%,
    57% {
        transform: translate(-25%, -50%) scale(2, 2);
        border: 2px solid rgba(255, 255, 255, 0.2)
    }

    0%,
    28%,
    58%,
    100% {
        transform: translate(-25%, -50%) scale(2.5, 2.5);
        border: 2px solid rgba(255, 255, 255, 0.2)
    }
}

@keyframes fire-dance {

    59%,
    89% {
        left: 40%;
        width: 0px;
        height: 0px;
    }

    90%,
    0%,
    7%,
    15%,
    23%,
    31%,
    39%,
    47%,
    55% {
        left: 40.8%;
        width: 16px;
        height: 20px;
        background-color: #ffc107;
    }

    94%,
    3%,
    11%,
    19%,
    27%,
    35%,
    43%,
    51%,
    58% {
        left: 41.2%;
        width: 16px;
        height: 20px;
        background-color: #ffc107;
    }
}

.counter {
	width: 60%;
	height: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.nums {
	color: #3498db;
	position: relative;
	font-size: 2500%;
	overflow: hidden;
	width: 100%;
	height: 75%;
}

.nums span {
	position: absolute;
	top: 55%;
	font-family: 'MiaoXiaoJieJ1f46334cea213b8';
	transform: translate(-50%, -50%) rotate(180deg);
	transform-origin: bottom center;

}

.nums span.in {
	transform: translate(-50%, -50%) rotate(0deg);
	animation: goIn .5s ease-in-out;
}

.nums span.out {
	animation: goOut .5s ease-in-out;
}

h4 {
	font-family: 'MiaoXiaoJieJ1f46334cea213b8';
}

.plat {
	position: absolute;
	bottom: 23%;
	width: 100%;
	height: 4%;
	border-radius: 50%;
	background-color: #3b5c86;
	animation: a1 11s infinite linear;
}

.line {
	position: absolute;
	bottom: 15%;
	width: 100%;
	height: 10%;
	border-radius: 0 0 50% 50%;
	background-color: #1b3b64;
	animation: a2 11s infinite linear;

}

.circle {
	position: absolute;
	left: 10%;
	bottom: 5%;
	width: 80%;
	height: 15%;
	border-radius: 0 0 50% 50%;
	background-color: #0a2f5f;
	animation: a3 11s infinite linear;

}

.scircle {
	position: absolute;
	left: 25%;
	bottom: 0%;
	width: 50%;
	height: 10%;
	border-radius: 0 0 50% 50%;
	background-color: #041124;
}

@keyframes goIn {
	0% {
		transform: translate(-50%, -50%) rotate(180deg);
	}

	30% {
		transform: translate(-50%, -50%) rotate(90deg);
	}

	40% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	65% {
		transform: translate(-50%, -50%) rotate(20deg);
	}

	90%,
	100% {
		transform: translate(-50%, -5 0%) rotate(0deg);
	}

}

@keyframes goOut {

	0%,
	30% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	30% {
		transform: translate(-50%, -50%) rotate(20deg);
	}

	60% {
		transform: translate(-50%, -50%) rotate(-20deg);
	}

	80% {
		transform: translate(-50%, -50%) rotate(-90deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-180deg);
	}
}

@keyframes a1 {
	0% {
		background-color: #3b5c86;
	}

	10% {
		background-color: #319b5d;
	}

	20% {
		background-color: #999b31;
	}

	30% {
		background-color: #984f9b;
	}

	40% {
		background-color: #9e5050;
	}

	50% {
		background-color: #468b66;
	}

	60% {
		background-color: #469168;
	}

	70% {
		background-color: #8d9957;
	}

	80% {
		background-color: #598d70;
	}

	90% {
		background-color: #995d94;
	}

	100% {
		background-color: #3b5c86;
	}

}

@keyframes a2 {
	0% {
		background-color: #1b3b64;
	}

	10% {
		background-color: #0d7438;
	}

	20% {
		background-color: #68690a;
	}

	30% {
		background-color: #7c1580;
	}

	40% {
		background-color: #7e1919;
	}

	50% {
		background-color: #509e9e;
	}

	60% {
		background-color: #1b834a;
	}

	70% {
		background-color: #778a23;
	}

	80% {
		background-color: #237e4b;
	}

	90% {
		background-color: #7a1d73;
	}

	100% {
		background-color: #1b3b64;
	}

}

@keyframes a3 {
	0% {
		background-color: #0a2f5f;
	}

	10% {
		background-color: #055727;
	}

	20% {
		background-color: #505203;
	}

	30% {
		background-color: #430446;
	}

	40% {
		background-color: #3f0404;
	}

	50% {
		background-color: #034d4d;
	}

	60% {
		background-color: #05572a;
	}

	70% {
		background-color: #3a4605;
	}

	80% {
		background-color: #043f1e;
	}

	90% {
		background-color: #460340;
	}

	100% {
		background-color: #0a2f5f;
	}

}